.nav{
    background-color: rgba(69, 188, 145, 0.1);
}

h4, h1, label{
    font-family: 'Source Code Pro', monospace;
    color: white;
}

input{
    font-family: 'Source Code Pro', monospace;
}

button{
    font-family: 'Source Code Pro', monospace;
    color:orangered;
}